<a href="https://colab.research.google.com/github/Priyabrat845/Insurance-fraud-detection/blob/main/Insurance_claim_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Insurance Claims Fraud Detection**

Fraud is one of the largest & most well-known problems that insurers face. Fraudulent claims can be highly expensive for each insurer. So,it is important to know which claims are correct & which are not.  We employ various attributes about the claims, insured people & other circumstances which are included in the data by the insurer. Separating different groups of claims & the corresponding rates of fraud within those groups can provide new insights.

## **Problem Statement**
In this project, our goal is to build a Machine Learning model that would automatically detect the insurance claim frauds.

In [1]:
# Import the libraries.
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data=pd.read_csv('/content/drive/MyDrive/Almabetter/Insurance fraud detection.csv')
data.head()

   months_as_customer  age  ...  auto_modelIndex fraud_reportedIndex
0                 328   48  ...               13                   1
1                 228   42  ...               16                   1
2                 134   29  ...                0                   0
3                 256   41  ...               21                   1
4                 228   44  ...               38                   0

[5 rows x 57 columns]

In [3]:
data.shape

(1000, 57)